<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <header>
        <h2>XXR_YZY_admin</h2>
        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/admin/">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/user">Пользователи</a>
                    <ul class="nav sub-menu">
                        <li class="sub-nav-item"><a class="nav-link" href="/admin/useractivity">Активность</a></li>
                        <li class="sub-nav-item"><a class="nav-link" href="/admin/userrole">Сотрудники</a></li>
                        <li class="sub-nav-item"><a class="nav-link" href="/admin/role">Роли</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/order">Заказы</a>
                    <ul class="nav sub-menu">
                        <li class="sub-nav-item"><a class="nav-link" href="/admin/orderstatus">Статусы</a></li>
                        <li class="sub-nav-item"><a class="nav-link" href="/admin/orderType">Типы</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/conversion">Конвертация</a>
                    <ul class="nav sub-menu">
                        <li class="sub-nav-item"><a class="nav-link" href="/admin/graduations">Градация</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/promocode">Промокоды</a>
                    <ul class="nav sub-menu">
                        <li class="sub-nav-item"><a class="nav-link" href="/admin/promocodeusage">Активность</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <button id="theme-toggle" class="btn-theme-toggle"><i class="fas fa-sun"></i></button>
                </li>
                <li>
                    <a class="nav-link" href="/logout">Выход</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Все права защищены | Made by <a href="https://t.me/pharc1" target="_blank" style="color: #f8f9fa; text-decoration: none; font-weight: bold;">pharci</a></p>
    </footer>
    {% block scripts %}
    {% endblock %}
    <script>
        function setTheme(theme) {
            document.body.classList.remove('dark-mode', 'light-mode');
            document.body.classList.add(theme);
        
            // Добавляем/удаляем dark-mode или light-mode для таблиц
            const tables = document.querySelectorAll('.table');
            tables.forEach(table => {
                table.classList.remove('dark-mode', 'light-mode');
                table.classList.add(theme);
            });
        
            // Установка темы для header и footer
            document.querySelector('header').classList.toggle('dark-mode', theme === 'dark-mode');
            document.querySelector('footer').classList.toggle('dark-mode', theme === 'dark-mode');
            document.querySelector('header').classList.toggle('light-mode', theme === 'light-mode');
            document.querySelector('footer').classList.toggle('light-mode', theme === 'light-mode');

            // Сохраняем тему в localStorage
            localStorage.setItem('theme', theme);
            
            // Обновляем иконку кнопки в зависимости от темы
            const icon = document.querySelector('#theme-toggle i');
            if (theme === 'dark-mode') {
                icon.classList.remove('fa-sun');
                icon.classList.add('fa-moon');
            } else {
                icon.classList.remove('fa-moon');
                icon.classList.add('fa-sun');
            }
        }
        
        document.addEventListener('DOMContentLoaded', () => {
            const currentPath = window.location.pathname;
            const navLinks = document.querySelectorAll('.nav-link');
            navLinks.forEach(link => {
                if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
                }
            });

            const savedTheme = localStorage.getItem('theme') || 'light-mode';
            setTheme(savedTheme);
        
            document.getElementById('theme-toggle').addEventListener('click', () => {
                const currentTheme = document.body.classList.contains('light-mode') ? 'light-mode' : 'dark-mode';
                const newTheme = currentTheme === 'light-mode' ? 'dark-mode' : 'light-mode';
                setTheme(newTheme);
            });
        });
    </script>
</body>
</html>